:root {
    --DM-Sans-font: 'DM Sans', sans-serif;
    --Titan-font: 'Titan One', sans-serif;
    --red-color: #D41443;
    --white-color: #FFFFFF;
    --pink-color: #FFA5BA;
}
@import "./common";
@import "./header";
@import "./buy-modal";
@import "./products";
@import "./how-its-made";
@import "./advantages";
@import "./gallery";
@import "./reviews";
@import "./contacts";
@import "./location-modal";
@import "./franchise-modal";
@import "./footer";


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  
  

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto
}

@media screen and (min-width: 480px) {
    .container {
        width:440px
    }
}

@media screen and (min-width: 768px) {
    .container {
        width:740px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width:1090px
    }
}

body {
    font-family: DM Sans,sans-serif;
    color: var(--default-text-color);
    margin: 0 auto
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

img {
    display: block;
    max-width: 100%;
    height: auto
}




.hero__title {
    max-width: 218px;
    margin-top: 187px;
    margin-bottom: 19px;
    font-weight: 400;
    font-family: Titan One,cursive;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.hero__title--accent {
    font-size: 48px;
    line-height: .97;
    color: var(--accent-color)
}

@media screen and (max-width: 767px) {
    .hero__title {
        position:relative
    }
}

@media screen and (min-width: 768px) {
    .hero__title {
        max-width:162px;
        font-size: 22px;
        line-height: 1.14;
        margin-top: 87px;
        margin-bottom: 20px
    }

    .hero__title--accent {
        font-size: 34px;
        line-height: .91
    }
}

@media screen and (min-width: 1280px) {
    .hero__title {
        max-width:277px;
        font-size: 38px;
        line-height: 1.16;
        letter-spacing: .04em;
        margin-top: 84px;
        margin-bottom: 25px
    }

    .hero__title--accent {
        font-size: 58px;
        line-height: .9
    }
}


:root {
    --primary-text-color: #ffffff;
    --title-text-color: #d41443;
    --secondary-title-color: #ffa5ba;
    --default-text-color: #000000;
    --secondary-text-color: #907e82;
    --accent-color: #d41443;
    --background-lightpink: #fff5f6;
    --background-white: #ffffff;
    --background-header-pink: #ffb8ca;
    --background-mobile: #e17992;
    --hover-color: #c7133e;
    --social-icon-color: #FEA5BB;
    --footer-line-color: #E1E1E1;
    --btn-hover: #ecebeb;


